@charset "UTF-8";
@font-face {
  font-family: "Arial Nova";
  src: url(../font/ArialNova.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Arial Nova";
  src: url(../font/ArialNova-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Ubuntu";
  src: url(../font/Ubuntu-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url(../font/ArialNova-Bold.ttf);
  font-weight: bold;
}
:root {
  --color-white: rgba(255, 255, 255, 1);
  --color-grey: rgba(0, 51, 102);
  --color-gold: rgba(220, 220, 220, 1);
  --color-black: rgb(19, 23, 24);
  --color-yelow: rgb(246, 206, 65);
  --color-orange: rgb(211, 84, 0);
  --color-red: rgb(255, 0, 0);
  --font-text: "Arial nova";
  --font-title: "Ubuntu";
}

* {
  padding: 0;
  margin: 0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  border: none;
  text-decoration: none;
  color: var(--color-white);
}

ol,
ul,
li {
  list-style: none;
}

button, input {
  border: none;
  outline: none;
  background: transparent;
}

p, a, li {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 23px;
  padding-bottom: 23px;
  background: var(--color-grey);
  z-index: 999;
  min-height: 85px;
}
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 65px;
}
.header-logo {
  margin-top: 60px;
  width: 120px;
  height: 120px;
}
.header-logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-list-item {
  font-family: var(--font-text);
  font-size: 18px;
  font-weight: 600;
  line-height: 22.5px;
  letter-spacing: -0.01em;
  text-align: left;
  margin-left: 23px;
  overflow: hidden;
  color: var(--color-white);
}
.header-list-item > a {
  color: var(--color-white);
}

.logo-main-header {
  width: 60px;
  height: 60px;
}
.logo-main-header > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.custom-btn-training {
  background: var(--color-red);
  border: 10px solid var(--color-green);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-white);
  border: 2px solid var(--color-white);
  -webkit-box-shadow: 0px 21px 66px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 21px 66px 0px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  border-radius: 20px;
}
.custom-btn-training:hover {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}
.custom-btn-training p {
  padding: 12px 32px;
  font-family: serif;
  font-family: var(--font-title);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 20px;
  color: var(--color-black);
  text-transform: uppercase;
  -webkit-filter: contrast(200%);
          filter: contrast(200%);
  color: var(--color-white);
  margin-bottom: 0;
}
.custom-btn-training p > span {
  font-family: var(--font-title);
  font-size: 22px;
  font-weight: 400;
}

.mobil-visible {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 99;
}

.logotype-mobil {
  display: none;
  margin-bottom: 100px;
}

.burger {
  position: relative;
  width: 60px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.burger > .toggle {
  width: 100%;
  background: var(--color-white);
  position: absolute;
  border-radius: 6px;
}

.toggle-first {
  top: 0;
  left: 0;
  height: 8px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.toggle-center {
  top: calc(50% - 4px);
  left: 0;
  height: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.toggle-last {
  bottom: 0;
  left: 0;
  height: 8px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.opacity-center {
  top: 50%;
  height: 0;
  opacity: 0;
}

.opacity-top {
  top: calc(50% - 4px);
}

.opacity-bottom {
  bottom: calc(50% - 4px);
}

.rotate-top {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.rotate-bottom {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.body-nav {
  width: 0;
  z-index: 98;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background: var(--color-grey);
  position: fixed;
  top: 0;
  right: -200px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 120px;
  padding-right: 40px;
}
.body-nav-menu {
  font-size: 22px;
  font-weight: 600;
  font-family: var(--font-title);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body-nav-menu-list {
  margin-top: 35px;
}

.body-title-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.body-title-logo img {
  width: 33px;
  height: 33px;
  -webkit-filter: grayscale(100%) invert(100%) contrast(400%);
          filter: grayscale(100%) invert(100%) contrast(400%);
}
.body-title-logo p {
  font-family: "Uefa";
  font-size: 22px;
  font-weight: 700;
  line-height: 30.8px;
  text-align: left;
  padding-top: 20px;
}

.block {
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow: hidden;
  padding: 5px 10px;
}

.block::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: var(--color-white);
  -webkit-transform: translateX(110%);
      -ms-transform: translateX(110%);
          transform: translateX(110%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.block:hover::before {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.block::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0;
  height: 2px;
  background: var(--color-white);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.block:hover::after {
  width: 100%;
}

.logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logotype-address {
  margin-left: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logotype-address p {
  margin-bottom: 0;
}
.logotype-address-block {
  padding-left: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.logotype-address-block > a:last-child {
  padding-top: 12px;
}

.main-screen {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-image: url(../img/1.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: right bottom;
  overflow: hidden;
}
.main-screen-bg {
  width: 100%;
  width: 100%;
  min-height: 100vh;
  height: auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 180px;
  padding-bottom: 76px;
}
.main-screen-bg::after {
  content: "";
  -webkit-clip-path: polygon(70% 100%, 100% 100%, 100% 0%, 0% 0%, 0% 10%, 40% 10%);
          clip-path: polygon(70% 100%, 100% 100%, 100% 0%, 0% 0%, 0% 10%, 40% 10%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-grey);
}
.main-screen-content {
  height: 100%;
}
.main-screen-left {
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: var(--color-yelow);
  font-family: var(--font-title);
}
.main-screen-left h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 71.5px;
  letter-spacing: -0.015em;
  text-align: center;
}
.main-screen-left h2 {
  font-size: 76px;
  font-weight: 700;
  line-height: 80.5px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
}
.main-screen-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
  z-index: 99;
}
.main-screen-right-card {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px;
}
.main-screen-right-card > .left {
  width: 28px;
  min-height: 100%;
  background: var(--color-yelow);
}
.main-screen-right-card > .right {
  height: 100%;
  min-height: 100px;
  padding: 35px 43px 35px 43px;
  background: rgba(220, 220, 220, 0.9);
  color: var(--color-black);
}
.main-screen-right-card > .right > h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0.02em;
  text-align: left;
}
.main-screen-right-card > .right > p {
  font-size: 18px;
  font-weight: 500;
  line-height: 32.4px;
  letter-spacing: 0.02em;
  text-align: left;
}

.card-child:nth-child(1) {
  -webkit-transform: translateX(60px);
      -ms-transform: translateX(60px);
          transform: translateX(60px);
}

.card-child:nth-child(2) {
  -webkit-transform: translateX(120px);
      -ms-transform: translateX(120px);
          transform: translateX(120px);
}

.card-child:nth-child(3) {
  -webkit-transform: translateX(180px);
      -ms-transform: translateX(180px);
          transform: translateX(180px);
}

.logo-main {
  width: 350px;
  height: 350px;
}
.logo-main > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.custom-modal-btn {
  margin-top: 36px;
  margin-bottom: 32px;
  width: 350px;
  height: 80px;
  background: var(--color-red);
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-white);
  border: 5px solid var(--color-white);
  -webkit-box-shadow: 0px 21px 66px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 21px 66px 0px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.custom-modal-btn:hover {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}
.custom-modal-btn p {
  padding-left: 12px;
  padding-right: 12px;
  font-family: serif;
  font-family: var(--font-title);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 20px;
  color: var(--color-black);
  text-transform: uppercase;
  -webkit-filter: contrast(200%);
          filter: contrast(200%);
  color: var(--color-white);
  margin-bottom: 0;
}
.custom-modal-btn p > span {
  font-family: var(--font-title);
  font-size: 22px;
  font-weight: 400;
}

.page-subtitle {
  font-family: var(--font-text);
  font-size: 15px;
  font-weight: 600;
  line-height: 23.17px;
  letter-spacing: 0.1em;
  text-align: left;
  padding-bottom: 23px;
}

.page-title {
  font-size: 45px;
  font-weight: 700;
  line-height: 58.5px;
  letter-spacing: -0.01em;
  text-align: center;
}

.about {
  padding-top: 76px;
  padding-bottom: 76px;
  width: 100%;
  background: var(--color-gold);
  height: auto;
}
.about-container {
  width: 100%;
  height: auto;
}
.about-content {
  width: 100%;
  min-height: 748px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--color-green);
  display: flex;
  color: var(--color-black);
}
.about-content-card {
  margin-top: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--color-black);
  width: 80%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-bottom: 32px;
  border-bottom: 5px solid var(--color-grey);
}
.about-content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 467px;
}
.about-content-text > h5 {
  font-family: var(--font-title);
  font-size: 26px;
  font-weight: 700;
  line-height: 31.2px;
}
.about-content-text > p {
  font-family: var(--font-text);
  font-size: 18px;
  font-weight: 400;
  line-height: 29.7px;
  letter-spacing: 0.02em;
  text-align: left;
}
.about-content-img {
  width: 337px;
  height: 233px;
  border: 10px solid var(--color-white);
  border-radius: 25px;
}
.about-content-img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-content-img > img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  -webkit-box-shadow: 0px 21px 66px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 21px 66px 0px rgba(0, 0, 0, 0.17);
}

.about-content-img.first {
  display: block;
  -webkit-transform: translateX(30px) rotate(-10deg);
      -ms-transform: translateX(30px) rotate(-10deg);
          transform: translateX(30px) rotate(-10deg); /* Стиль для первого изображения */
  z-index: 3; /* Приоритет отображения */
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.about-content-img.second {
  display: block;
  -webkit-transform: translateX(-10px) rotate(5deg);
      -ms-transform: translateX(-10px) rotate(5deg);
          transform: translateX(-10px) rotate(5deg); /* Стиль для третьего изображения */
  z-index: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.review {
  width: 100%;
  padding-top: 76px;
  padding-bottom: 76px;
  background: var(--color-white);
  -webkit-box-shadow: 0px 37px 60px 0px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 37px 60px 0px rgba(0, 0, 0, 0.02);
}
.review::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-image: url(../img/ff30.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: opacity(0.2);
          filter: opacity(0.2);
}
.review-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.review-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 36px;
  padding-bottom: 36px;
}
.review-card {
  width: 582px;
  margin-left: 23px;
  margin-right: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 5px solid var(--color-yelow);
  margin-bottom: 32px;
}
.review-card-text {
  padding: 44px 44px 44px 49px;
  background: var(--color-yelow);
  font-family: var(--font-title);
  font-size: 19px;
  font-weight: 400;
  line-height: 34.2px;
  text-align: left;
  color: var(--color-black);
  position: relative;
}
.review-card-text > p {
  font-size: 14px;
  font-weight: 600;
  line-height: 22.4px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 0;
}
.review-card-text > p > span {
  font-family: var(--font-title);
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.01em;
  text-align: left;
}
.review-card-footer {
  background: var(--color-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 51px 26px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.review-card-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.review-card-user-name {
  color: var(--color-white);
  font-family: var(--font-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.review-card-user-name > p {
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: 0.03em;
  text-align: left;
}
.review-card-decor {
  width: 70px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.review-card-decor-left {
  width: 30px;
  height: 100%;
  background: var(--color-white);
  position: relative;
  margin-right: 12px;
}
.review-card-decor-left::before {
  content: "";
  height: 50%;
  width: 100%;
  border-bottom: 32px solid var(--color-grey);
  border-left: 30px solid transparent;
  position: absolute;
  bottom: -1px;
  right: -1px;
}
.review-btn {
  height: 369px;
  font-size: 30px;
  color: var(--color-grey);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-left: 5px;
  padding-right: 5px;
}
.review-btn:hover {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}
.review-modal {
  margin-top: 36px;
}

.review-card-img {
  position: absolute;
  bottom: -40px;
  z-index: 99;
  right: 300%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100px;
  height: 100px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
}
.review-card-img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.review-card-img-active {
  left: 50%;
  opacity: 1;
}

.schedule {
  width: 100%;
  padding-top: 76px;
  padding-bottom: 76px;
  background-color: var(--color-gold);
}
.schedule-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.schedule-content {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.schedule-content > .day {
  width: 100%;
  border: 5px solid var(--color-yelow);
  background: var(--color-white);
}

.tables {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tables-thead {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--color-grey);
}
.tables-th {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  padding-top: 32px;
  padding-bottom: 32px;
  background: var(--color-grey);
  color: var(--color-white);
  border: 2px solid var(--color-white);
  text-align: center;
  font-family: var(--font-tilte);
  font-size: 18px;
  font-weight: 400;
  line-height: 29.7px;
  letter-spacing: 0.02em;
  text-align: center;
}
.tables-tbody {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--color-white);
}
.tables-th-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  padding-top: 32px;
  padding-bottom: 32px;
  background: var(--color-yelow);
  color: var(--color-black);
  border: 2px solid var(--color-white);
  text-align: center;
  font-family: var(--font-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 29.7px;
  letter-spacing: 0.02em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tables-th-body > p > span {
  font-size: 19px;
  font-weight: 600;
}

.tables-mobil {
  padding-top: 32px;
  padding-bottom: 32px;
  background: var(--color-grey);
  color: var(--color-white);
  border: 2px solid var(--color-white);
  text-align: center;
  font-family: var(--font-tilte);
  font-size: 18px;
  font-weight: 400;
  line-height: 29.7px;
  letter-spacing: 0.02em;
  text-align: center;
  display: none;
}

.blog {
  width: 100%;
  background-image: url(../img/4.jpg);
  -webkit-box-shadow: 0px 37px 60px 0px rgba(0, 0, 0, 0.02);
          box-shadow: 0px 37px 60px 0px rgba(0, 0, 0, 0.02);
}
.blog-bg {
  width: 100%;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(211, 84, 0, 0.2);
}
.blog-bg::after {
  content: "";
  -webkit-clip-path: polygon(80.81% 100%, 21.01% 0%, 0% 0%, 0% 100%);
          clip-path: polygon(80.81% 100%, 21.01% 0%, 0% 0%, 0% 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-grey);
}
.blog-container {
  padding-top: 76px;
  padding-bottom: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}
.blog-container h2, .blog-container h3 {
  color: var(--color-white);
}
.blog-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 76px;
  padding-bottom: 76px;
}
.blog-content-card {
  cursor: pointer;
  width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
          transform: translateX(-40px);
}
.blog-content-card-img {
  width: 100%;
  height: 325px;
}
.blog-content-card-img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-content-card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 27px 30px 26px;
  background: rgb(237, 245, 247);
}
.blog-content-card-text > .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}
.blog-content-card-text > .date > .line {
  width: 20px;
  height: 2px;
  background: rgb(39, 45, 50);
}
.blog-content-card-text > .date > p {
  margin: 0;
  font-size: 13px;
  font-weight: 700;
  line-height: 16.25px;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--color-black);
  font-family: var(--font-text);
}
.blog-content-card-text > .date > p:last-child {
  text-align: right;
}
.blog-content-card-text > h6 {
  padding-bottom: 22px;
  padding-top: 22px;
  color: var(--color-black);
  font-family: var(--font-title);
}
.blog-content-card-text > p {
  font-family: var(--font-text);
  font-size: 18px;
  font-weight: 400;
  line-height: 27.9px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--color-black);
}

.trainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 76px;
  padding-bottom: 76px;
}
.trainer-container {
  padding-top: 76px;
  padding-bottom: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 36px;
}
.trainer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 76px;
}
.trainer-content-card {
  margin-top: 36px;
  margin-bottom: 36px;
  width: 100%;
  height: 430px;
  background-color: var(--color-orange);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.trainer-content-card-img {
  width: 540px;
  height: 500px;
  border: 10px solid var(--color-white);
  border-radius: 25px;
  -webkit-box-shadow: 0px 21px 66px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 21px 66px 0px rgba(0, 0, 0, 0.6);
  position: relative;
}
.trainer-content-card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.trainer-content-card-img > .logotype {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: -50px;
  right: -35px;
  -webkit-filter: contrast(150%);
          filter: contrast(150%);
}
.trainer-content-card-text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: var(--color-white);
}
.trainer-content-card-text > h5 {
  font-family: var(--font-tilte);
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  margin-bottom: 23px;
  padding-top: 32px;
}
.trainer-content-card-text > .ball {
  width: 100px;
  height: 100px;
  margin-bottom: 36px;
  margin-top: 36px;
}
.trainer-content-card-text > h6 {
  font-family: var(--font-text);
  font-size: 15px;
  font-weight: 600;
  line-height: 23.17px;
  letter-spacing: 0.1em;
  text-align: center;
  color: var(--color-yelow);
  padding-bottom: 36px;
}
.trainer-content-card-text > a {
  font-family: var(--font-tilte);
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: center;
}

.footer {
  padding-top: 76px;
  background: var(--color-grey);
}
.footer-logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 76px;
  border-bottom: 1px solid var(--color-white);
}
.footer-logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-logo-link img {
  width: 80px;
  height: 80px;
  -webkit-filter: contrast(150%);
          filter: contrast(150%);
}
.footer-logo-link h6 {
  margin: 0;
  padding-left: 23px;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--color-white);
  font-family: var(--font-title);
}
.footer-icons {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-icons > a {
  width: 55px;
  height: 55px;
  border: 2px solid var(--color-white);
  background: var(--color-yelow);
  -webkit-box-shadow: 0px 37px 60px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 37px 60px 0px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-black);
  font-size: 32px;
  font-family: var(--font-title);
}
.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 76px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer-body-explorer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footer-body-explorer ul {
  padding-left: 0;
}
.footer-body-explorer p {
  font-family: var(--font-title);
  color: var(--color-white);
}
.footer-body-explorer a {
  color: var(--color-white);
  font-size: 17px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.01em;
  text-align: left;
  font-family: var(--font-text);
}
.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-maps {
  width: 300px;
  height: 300px;
}
.footer-address {
  width: 325px;
}
.footer-address h6, .footer-address p, .footer-address span, .footer-address a {
  color: var(--color-white);
  padding-bottom: 22px;
}
.footer-address h6 {
  margin: 0;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--color-white);
  font-family: var(--font-title);
}
.footer-address p, .footer-address a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  line-height: 25.5px;
  letter-spacing: -0.01em;
  text-align: left;
  padding-bottom: 22px;
  font-family: var(--font-text);
}
.footer-address p > span, .footer-address a > span {
  font-weight: 700;
  padding-bottom: 22px;
  padding-right: 22px;
}
.footer-working {
  width: 176px;
}
.footer-working h6, .footer-working p, .footer-working span, .footer-working a {
  color: var(--color-white);
  padding-bottom: 22px;
}
.footer-working h6 {
  font-weight: 400;
}
.footer-working p, .footer-working a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  line-height: 25.5px;
  letter-spacing: -0.01em;
  text-align: left;
  padding-bottom: 22px;
  font-family: var(--font-text);
}
.footer-working p > span, .footer-working a > span {
  font-weight: 700;
  padding-bottom: 22px;
  padding-right: 22px;
}

.copyright {
  background: transparent;
  height: 75px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: var(--font-title);
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-white);
}

.scroll-to-top {
  width: 55px;
  height: 55px;
  border: 2px solid var(--color-white);
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-white);
  font-size: 23px;
}

.custom-btn {
  position: relative;
  color: var(--color-grey);
  margin-top: 58px;
  font-family: var(--font-title);
  font-size: 14px;
  font-weight: 800;
  line-height: 17.5px;
  letter-spacing: 0.12em;
  text-align: center;
  width: 50%;
  text-transform: uppercase;
  padding: 18px 43px 19px 43px;
  border: 2px solid var(--color-grey);
  overflow: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.custom-btn-white {
  margin-bottom: 50px;
  z-index: 99;
  color: var(--color-white);
  border: 2px solid var(--color-white);
}

.custom-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 62, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99999;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.custom-modal > .body {
  width: 320px;
  height: 540px;
  background: var(--color-grey);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.custom-modal > .body > .closed {
  font-weight: 500;
  font-size: 60px;
  position: absolute;
  top: -60px;
  right: -25px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  color: rgb(255, 255, 255);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.custom-modal > .body > .closed:hover {
  color: red;
  font-weight: 500;
  -webkit-transform: scale(1.05) rotate(135deg);
      -ms-transform: scale(1.05) rotate(135deg);
          transform: scale(1.05) rotate(135deg);
}

.closed-review {
  font-weight: 500;
  font-size: 60px;
  position: absolute;
  top: -60px;
  right: -25px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  color: rgb(255, 255, 255);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.closed-review:hover {
  color: red;
  font-weight: 500;
  -webkit-transform: scale(1.05) rotate(135deg);
      -ms-transform: scale(1.05) rotate(135deg);
          transform: scale(1.05) rotate(135deg);
}

.modal-title {
  font-family: var(--font-tilte);
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: var(--color-white);
}

.modal-subtitle {
  font-family: var(--font-tilte);
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 20px;
  color: var(--color-white);
  text-transform: uppercase;
  padding-bottom: 46px;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 23px;
}
.modal-form > .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 26px;
}
.modal-form > .title h5 {
  font-family: var(--font-tilte);
}

.modal-form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 23px;
}
.modal-form-input label {
  font-family: var(--font-text);
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 20px;
  color: var(--color-white);
  text-transform: uppercase;
  -webkit-filter: contrast(200%);
          filter: contrast(200%);
}
.modal-form-input input[type=text] {
  border: 1px solid var(--color-red);
  font-size: 18px;
  padding: 8px 13px;
  color: var(--color-white);
}
.modal-form-input input[type=text]::-webkit-input-placeholder {
  font-size: 11px;
  font-style: italic;
}
.modal-form-input input[type=text]::-moz-placeholder {
  font-size: 11px;
  font-style: italic;
}
.modal-form-input input[type=text]:-ms-input-placeholder {
  font-size: 11px;
  font-style: italic;
}
.modal-form-input input[type=text]::-ms-input-placeholder {
  font-size: 11px;
  font-style: italic;
}
.modal-form-input input[type=text]::placeholder {
  font-size: 11px;
  font-style: italic;
}
.modal-form-input textarea {
  height: 110px;
  color: var(--color-white);
  background: transparent;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.4px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 1px solid var(--color-red);
}
.modal-form-input input[type=submit] {
  height: 46px;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.4px;
  text-align: center;
  color: var(--color-white);
  background: var(--color-red);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.modal-form-input input[type=submit]:hover {
  -webkit-filter: blur(1px) saturate(30%);
          filter: blur(1px) saturate(30%);
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.modal-none {
  display: none;
}

.success-message {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.success-message > .title {
  margin-bottom: 23px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 16px;
  text-align: center;
}
.success-message > .subtitle {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 20px;
  color: var(--color-white);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 26px;
  text-align: center;
}
.success-message > .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 23px;
}

.page-subtitle.text {
  text-align: center;
  color: var(--color-white);
  padding: 22px 23px;
  font-weight: 500;
}

.success-icons {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 20%;
}
.success-icons > a {
  width: 55px;
  height: 55px;
  border: 2px solid var(--color-white);
  background: var(--color-yelow);
  -webkit-box-shadow: 0px 37px 60px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 37px 60px 0px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-black);
  font-size: 32px;
  font-family: var(--font-title);
}

.item-animation-objects {
  opacity: 0;
  -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
          transform: translateX(-20px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.item-animation-objects-express {
  opacity: 0;
  -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
          transform: translateX(-20px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cycle-objects-card {
  opacity: 0;
  -webkit-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
          transform: translateX(-40px);
  -webkit-transform: translateZ(-40px);
          transform: translateZ(-40px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cycle-objects-subtitle {
  opacity: 0;
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cycle-objects-title {
  opacity: 0;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cycle-objects-img {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fade-element {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.blog-detail {
  display: none;
  width: 100%;
  height: 100vh; /* Занимает всю высоту видимой области */
  position: fixed; /* Фиксированное позиционирование для прокрутки */
  top: 0;
  left: 0;
  background: rgba(211, 84, 0, 0.5);
  z-index: 99999;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto; /* Позволяет прокручивать содержимое */
}

.blog-detail .content {
  width: 70%;
  margin-top: 45px;
  min-height: 60%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 24px;
  -webkit-box-shadow: 0px 21px 66px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 21px 66px 0px rgba(0, 0, 0, 0.6);
}

.blog-detail-img {
  max-width: 500px;
  min-width: 320px;
  width: 40%;
}

.blog-detail-img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-detail-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  min-width: 320px;
  padding-top: 76px;
  padding-bottom: 76px;
  position: relative;
}

.blog-detail-text > h3 {
  font-family: var(--font-title);
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0.02em;
  text-align: left;
}

.blog-detail-text > h6 {
  font-family: var(--font-text);
  font-size: 15px;
  font-weight: 600;
  line-height: 23.17px;
  letter-spacing: 0.1em;
  text-align: left;
  padding-bottom: 23px;
}

.blog-detail-text > p {
  max-width: 536px;
  padding: 22px 43px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32.4px;
  letter-spacing: 0.02em;
  text-align: left;
}

.blog-detail-btn {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  bottom: 10px;
  padding: 12px 53px;
  color: var(--color-white);
  background: var(--color-red);
  -webkit-box-shadow: 0px 21px 66px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 21px 66px 0px rgba(0, 0, 0, 0.6);
  font-size: 22px;
  border: 2px solid var(--color-white);
  border-radius: 25px;
}

.license-text {
  margin-top: 230px;
}

@media (max-width: 1024px) {
  .blog-detail .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-detail-img {
    width: 100%;
  }
  .blog-detail-text {
    width: 100%;
  }
  .blog-detail .content {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .header {
    min-height: 190px;
  }
  .header-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-list:last-child {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .header-logo {
    margin-top: 100px;
    width: 150px;
    height: 150px;
  }
  .logotype-address {
    margin-top: 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .custom-btn-training {
    margin-top: 22px;
  }
  .main-screen-container > .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-screen-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .custom-modal {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .custom-modal > .body {
    margin-top: 100px;
  }
}
@media (max-width: 768px) {
  .header {
    min-height: 80px;
  }
  .header-container {
    display: none;
  }
  .mobil-visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .first-screen-left-card:nth-child(2) {
    margin-left: 0;
  }
  .first-screen-left-card:last-child {
    margin-left: 0;
  }
  .logotype {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  .about-content {
    min-height: 1500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-content-text {
    width: 90%;
  }
  .about-content-content {
    width: 90%;
  }
  .modal-title {
    font-size: 14px;
  }
  .modal-subtitle {
    font-size: 10px;
  }
  .modal-form {
    margin-top: 0;
  }
  .tables-mobil {
    display: block;
  }
  .tables {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tables-thead {
    display: none;
  }
  .tables-tbody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .tables-th-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 460px) {
  .logo-main {
    width: 200px;
    height: 200px;
  }
  .custom-modal-btn {
    width: 300px;
  }
  .about-content-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about-content-img {
    margin-top: 28px;
    margin-bottom: 28px;
    width: 257px;
    height: 210px;
  }
  .about-content-img > .first, .about-content-img > .secont {
    -webkit-transform: translateX(0px) rotate(0);
        -ms-transform: translateX(0px) rotate(0);
            transform: translateX(0px) rotate(0);
  }
  .about-content-img.first {
    -webkit-transform: translateX(0) rotate(0);
        -ms-transform: translateX(0) rotate(0);
            transform: translateX(0) rotate(0); /* Стиль для первого изображения */
  }
  .about-content-img.second {
    -webkit-transform: translateX(0) rotate(0);
        -ms-transform: translateX(0) rotate(0);
            transform: translateX(0) rotate(0); /* Стиль для третьего изображения */
  }
  .review-cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .review-card {
    width: 282px;
  }
  .tables-th-body span {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .trainer-content-card {
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .trainer-content-card-img {
    margin-top: 26px;
    width: 320px;
  }
  .schedule-content {
    margin-top: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog-content {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer-logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 76px;
    border-bottom: 1px solid var(--color-yelow);
  }
  .footer-logo-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-icons {
    margin-top: 36px;
  }
  .footer-working {
    width: 176px;
  }
  .footer-working h6, .footer-working p, .footer-working span, .footer-working a {
    color: var(--color-yelow);
    padding-bottom: 22px;
  }
  .footer-working h6 {
    font-weight: 400;
  }
  .footer-working p, .footer-working a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
    font-size: 17px;
    font-weight: 500;
    line-height: 25.5px;
    letter-spacing: -0.01em;
    text-align: left;
    padding-bottom: 22px;
    font-family: "Uefa";
  }
  .footer-working p > span, .footer-working a > span {
    font-weight: 700;
    padding-bottom: 22px;
    padding-right: 22px;
  }
}