<div class="blog-detail">
    <div class="content">
        <div class="blog-detail-img">
            <img src="./img/004.png" alt="">
        </div>
        <div class="blog-detail-text">
            <h3>Lorem, ipsum.</h3>
            <h6>Lorem ipsum dolor sit amet.</h6>
            <p>Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Non sit vel voluptatibus ratione esse 
                rem accusamus laboriosam, sunt est architecto aperiam velit. 
                Debitis officia cumque culpa veritatis fugiat asperiores nulla.
                Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Non sit vel voluptatibus ratione esse 
                rem accusamus laboriosam, sunt est architecto aperiam velit. 
            </p>
                <button class="blog-detail-btn">закрыть</button>
    </div>