{% extends "components/base.html" %}
{% load static %}

{% block content %}
    <main>
        <section class="main-screen">
            <div class="main-screen-bg">
                <div class="container main-screen-container">
                    <div class="row  main-screen-content">
                        <div class="col-xl-6 col-lg-12 main-screen-right">
                            {% for news in firstNews %}
                                <div class="main-screen-right-card card-child cycle-objects-card">
                                    <div class="left"></div>
                                    <div class="right">
                                        <h3>{{ news.title }}</h3>
                                        <p>{{ news.description }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-xl-6 col-lg-12 main-screen-left">
                            <div class="logo-main cycle-objects-img">
                                <img src="{% static 'img/logotype2.png' %}" alt="logo">
                            </div>
                            <h1 class="cycle-objects-subtitle">Детский футбольный клуб</h1>
                            <h2 class="cycle-objects-title">Атлант</h2>
                            <div class="custom-modal-btn">
                                <button aria-label="Записаться на тренировку" onclick="openModalWindow()">
                                    <p><span>GO! </span>на тренировку</p>
                                </button>
                            </div>
                            <div class="footer-icons">
                                {% for company in company %}
                                    <a href="{{ company.vk }}">
                                        <i class="fa-brands fa-vk"></i>
                                    </a>
                                    <a href="{{ company.telegramm }}">
                                        <i class="fa-brands fa-telegram"></i>
                                    </a>
                                    <a href="{{ company.whatsapp }}">
                                        <i class="fa-brands fa-whatsapp"></i>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about" id="about">
            <div class="container about-container">
                <div class="about-content">
                    <h4 class="page-subtitle cycle-objects-subtitle">О нас</h4>
                    <h5 class="page-title cycle-objects-title">Lorem ipsum dolor sit amet3.</h5>
                    {% for about in abouts %}
                        <div class="about-content-card item-animation-objects-express">
                            <div class="about-content-text">
                                <h5 class="cycle-objects-title">{{ about.title }}</h5>
                                <p>{{ about.text }}</p>
                            </div>
                            <div class="about-content-img  first">
                                <img src="{{ about.get_image_url }}" alt="{{ about.title }}">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="schedule" id="schedule">
            <div class="container schedule-container">
                <h2 class="page-subtitle cycle-objects-title">Расписание</h2>
                <h3 class="page-title cycle-objects-title">Встретимся на поле</h3>
                <div class="schedule-content">
                    <table class="tables">
                        <thead>
                            <tr class="tables-thead">
                                <th class="tables-th">Понедельник</th>
                                <th class="tables-th">Вторник</th>
                                <th class="tables-th">Среда</th>
                                <th class="tables-th">Четверг</th>
                                <th class="tables-th">Пятница</th>
                                <th class="tables-th">Суббота</th>
                                <th class="tables-th">Воскресенье</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tables-tbody">
                                <td class="tables-th-body">
                                    <span class="tables-mobil">Понедельник</span>
                                    {% for item in schedule_by_weekday.1 %}
                                        <p><span>{{ item.age }}</span></p>
                                        <p>с {{ item.start_time }} до {{ item.end_time }}</p>
                                    {% empty %}
                                        <p></p>
                                    {% endfor %}
                                </td>
                                <td class="tables-th-body">
                                    <span class="tables-mobil">Вторник</span>
                                    {% for item in schedule_by_weekday.2 %}
                                        <p><span>{{ item.age }}</span></p>
                                        <p>с {{ item.start_time }} до {{ item.end_time }}</p>
                                    {% empty %}
                                        <p></p>
                                    {% endfor %}
                                </td>
                                <td class="tables-th-body">
                                    <span class="tables-mobil">Среда</span>
                                    {% for item in schedule_by_weekday.3 %}
                                        <p><span>{{ item.age }}</span></p>
                                        <p>с {{ item.start_time }} до {{ item.end_time }}</p>
                                    {% empty %}
                                        <p></p>
                                    {% endfor %}
                                </td>
                                <td class="tables-th-body">
                                    <span class="tables-mobil">Четверг</span>
                                    {% for item in schedule_by_weekday.4 %}
                                        <p><span>{{ item.age }}</span></p>
                                        <p>с {{ item.start_time }} до {{ item.end_time }}</p>
                                    {% empty %}
                                        <p></p>
                                    {% endfor %}
                                </td>
                                <td class="tables-th-body">
                                    <span class="tables-mobil">Пятница</span>
                                    {% for item in schedule_by_weekday.5 %}
                                        <p><span>{{ item.age }}</span></p>
                                        <p>с {{ item.start_time }} до {{ item.end_time }}</p>
                                    {% empty %}
                                        <p></p>
                                    {% endfor %}
                                </td>
                                <td class="tables-th-body">
                                    <span class="tables-mobil">Суббота</span>
                                    {% for item in schedule_by_weekday.6 %}
                                        <p><span>{{ item.age }}</span></p>
                                        <p>с {{ item.start_time }} до {{ item.end_time }}</p>
                                    {% empty %}
                                        <p></p>
                                    {% endfor %}
                                </td>
                                <td class="tables-th-body">
                                    <span class="tables-mobil">Воскресенье</span>
                                    {% for item in schedule_by_weekday.7 %}
                                        <p><span>{{ item.age }}</span></p>
                                        <p>с {{ item.start_time }} до {{ item.end_time }}</p>
                                    {% empty %}
                                        <p></p>
                                    {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </section>
        <section class="blog" id="blog">
            <div class="blog-bg">
                <div class="container blog-container">
                    <h2 class="page-subtitle  cycle-objects-title">Блог</h2>
                    <h3 class="page-title  cycle-objects-title">Новости с поля</h3>
                    <div class="blog-content">
                        {% for blog in blogs %}
                            <a href="#" class="open-modal-blog" data-pk="{{ blog.pk }}">
                                <div class="blog-content-card">
                                    <div class="blog-content-card-img">
                                        <img src="{{ blog.get_image_url }}" alt="{{ blog.title }}">
                                    </div>
                                    <div class="blog-content-card-text">
                                        <div class="date">
                                            <p>{{ blog.pub_date }}</p>
                                            <div class="line"></div>
                                            <p>{{ blog.theme }}</p>
                                        </div>
                                        <h6>{{ blog.title }}</h6>
                                        <p>{{ blog.text }}</p>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <section class="review" id="reviews">
            <div class="container review-container">
                <h2 class="page-subtitle  cycle-objects-title">Отзывы</h2>
                <h3 class="page-title  cycle-objects-title">Что говорят о нас ученики</h3>
                <div class="review-cards">
                    <div class="review-cards"  id="review-card-wrapper">
                        {% for review in reviews %}
                            <div class="review-card cycle-objects-card">
                                <div class="review-card-text">
                                    <p>{{ review.pub_date }}</p>
                                    <p><span>{{ review.name }}></span></p>
                                </div>
                                <div class="review-card-footer">
                                    <div class="review-card-user ">
                                        <div class="review-card-user-name">
                                            
                                            <p>{{ review.text }}</p>
                                        </div>
                                    </div>
                                    <div class="review-card-decor">
                                        <div class="review-card-decor-left"></div>
                                        <div class="review-card-decor-left"></div>
                                    </div>
                                </div>
                            </div>  
                        {% endfor %}                          
                    </div>
                </div>
                <button onclick="openModalWindowReview()" class="custom-btn" aria-label="Оставить отзыв">Оставить отзыв</button>
            </div>
        </section>
        <section class="trainer" id="trainer">
            <div class="container trainer-container">
                <h2 class="page-subtitle cycle-objects-title">контакты</h2>
                <h3 class="page-title cycle-objects-title">Ждем на тренировку</h3>
                <div class="trainer-content">
                    <div class="trainer-content-card item-animation-objects-express">
                        <div class="trainer-content-card-img">
                            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A59e646de3144c8ebc4c459b71f56caa9f166fc2850f7ed4b6ddc0dbf863763b3&amp;width=100%25&amp;height=490&amp;lang=ru_RU&amp;scroll=true"></script>
                            <img class="logotype" src="{% static 'img/logotype2.png' %}" alt="">
                        </div>
                        <div class="trainer-content-card-text">
                            {% for company in company %}
                                <h5>{{ company.address }}</h5>
                                <a  href="tel:{{ company.phone }}">Телефон: {{ company.phone }}</a>
                                <a href="mailto:{{company.email}}">e-mail: {{ company.email }}</a> 
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <div class="blog-detail" id="blog-detail-modal">
        <div class="content">
            <div  style="width: 100%; height: 100%; display: flex;" id="blog-detail">
            
            </div>
            <button class="blog-detail-btn" aria-label="Закрыть модальное окно">закрыть</button>
        </div>
        
    </div>

    <div class="custom-modal modal-none" id="custom-modal">
        <div class="body">
            <p class="closed">+</p>
            <form class="modal-form" id="client-form" action="#" method="POST">
                {% csrf_token %}
            <div class="title">
                <h5 class="modal-title">Записаться на тренировку</h5>
            </div>
                <div class="modal-form-input">
                    <label for="userName">Ваше имя</label>
                    <input placeholder="напр. Иван Иванович" type="text" name="name" id="name" required>
                </div>
                <div class="modal-form-input">
                    <label for="userPhone">Номер для связи</label>
                    <input placeholder="+7(9xx)xxx-xx-xx" type="text" name="phone" id='phone'>
                </div>
                <div class="modal-form-input">
                    <input type="submit" placeholder="Отправить">
                </div>
                
            </form>
            <div class="success-message" id="success-message" style="display:none;">
                <h6 class="page-subtitle text">В ближайшее время мы Вам перезвоним<h6>

                {% for company in company %}
                <p class="page-subtitle text">Присоединяйтесь к нашм в ВК и телеграмм</p>
                    <div class="success-icons">
                        <a aria-label="ВК" href="{{ company.vk }}">
                            <i class="fa-brands fa-vk"></i>
                        </a>
                        <a aria-label="Телеграм" href="{{ company.telegramm }}">
                            <i class="fa-brands fa-telegram"></i>
                        </a>
                        <a aria-label="Вацап" href="{{ company.whatsapp }}">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="custom-modal modal-none" id="custom-modal-review">
        <div class="body">
            <p class="closed-review">+</p>
            <form class="modal-form" id="review-form" action="javascript:void(0);" method="POST">
                {% csrf_token %}
            <div class="title">
                <h5 class="modal-title">Оставить отзыв</h5>
            </div>
                <div class="modal-form-input">
                    <label for="name">Ваше имя</label>
                    <input placeholder="напр. Иван Иванович" type="text" name="name-review" id="name-review" required>
                </div>
                <div class="modal-form-input">
                    <label for="text">Ваш отзыв</label>
                    <textarea name="text-review" id="text-review"></textarea>
                    
                </div>
                <div class="modal-form-input">
                    <input type="submit" placeholder="Отправить">
                </div>
                
            </form>
            <div class="success-message" id="success-message-review" style="display:none;">
                <h6 class="page-subtitle text">После модерации Ваш отзыв появится на сайте<h6>

                {% for company in company %}
                <p class="page-subtitle text">Присоединяйтесь к нашм в ВК и телеграм</p>
                    <div class="success-icons">
                        <a aria-label="ВК" href="{{ company.vk }}">
                            <i class="fa-brands fa-vk"></i>
                        </a>
                        <a aria-label="Телеграм" href="{{ company.telegramm }}">
                            <i class="fa-brands fa-telegram"></i>
                        </a>
                        <a aria-label="Вацап" href="{{ company.whatsapp }}">
                            <i class="fa-brands fa-whatsapp"></i>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
